@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-roboto);
  background-color: #ffffff;
  color: #000000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

